doctype html
html.cms
  head
    title= title
    link(rel='stylesheet', href='/css/styles.css')
    link(rel='stylesheet', href='/resources/css/vimond-player-reference.min.css')

  body

    script(type='text/javascript').

    block content
