@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,600");


html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Open Sans', serif;
  background: black;
  width: 100%;
  height: 100%;
}
.cinema {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: black;

  &.fade {
    cursor: none;
  }
}

.playerWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.playerContainer {
  position: fixed;
  width: 100%;
  height: 100%;
  align-self: center;
}

.sub-header {
  margin-bottom: 0px;
}

.initial-load-header {
  position: absolute;
  color: white;
  top: 75%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  text-align: center;
  opacity: 0.7;

  i {
    font-size: 15rem;
  }
}

.asset-carousel {
  position: relative;
  height: 100%;
  min-height: 100%;
  margin-top: 100%;
  padding-top: 50%;
  display: flex;
  width: 100%;
  overflow-x: auto;
  background: linear-gradient(transparent, black);
  // transform: translateY(-10rem);
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }

  &.fade {
    opacity: 0;
  }
}

.dv-star-rating {

}

.title {
  margin: 0;
}

.col {

  &:nth-child(1){


  }
}

.movie-information {
  position: fixed;
  z-index: 10;
  display: flex;
  color: white;

  &:before {

   }

  &:after {

   }
}

.asset {
  position: relative;
  color: white;
  max-width: 15rem;
  &:hover {
  }

  i {
    position: absolute;
    font-size: 5rem;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);

    &:hover {
    }
  }
}

.info-wrapper {

}

.cover {

}

.vimond-player {
  .vimond-player-start-poster-widget {
    a {
      &:after {
        right: 50%;
        bottom: 50%;
        transform: translate3d(50%, 50%, 0);
        border-radius: 5rem;
      }
    }
  }
}

.poster {

}

.cs-loader {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.cs-loader-inner {
  transform: translateY(-50%);
  top: 50%;
  position: absolute;
  width: calc(100% - 200px);
  color: #FFF;
  padding: 0 100px;
  text-align: center;
}

.cs-loader-inner label {
  font-size: 3rem;
  opacity: 0;
  display:inline-block;
}

@keyframes lol {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    transform: translateX(0px);
  }
  66% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(300px);
  }
}

@-webkit-keyframes lol {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  66% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(300px);
  }
}

.cs-loader-inner label:nth-child(6) {
  -webkit-animation: lol 3s infinite ease-in-out;
  animation: lol 3s infinite ease-in-out;
}

.cs-loader-inner label:nth-child(5) {
  -webkit-animation: lol 3s 100ms infinite ease-in-out;
  animation: lol 3s 100ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(4) {
  -webkit-animation: lol 3s 200ms infinite ease-in-out;
  animation: lol 3s 200ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(3) {
  -webkit-animation: lol 3s 300ms infinite ease-in-out;
  animation: lol 3s 300ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(2) {
  -webkit-animation: lol 3s 400ms infinite ease-in-out;
  animation: lol 3s 400ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(1) {
  -webkit-animation: lol 3s 500ms infinite ease-in-out;
  animation: lol 3s 500ms infinite ease-in-out;
}


.animate-movie-information-appear {

  &.animate-movie-information-appear-active {

  }

}

.animate-movie-information-enter {

  &.animate-movie-information-enter-active {

  }

}

.animate-movie-information-leave {

  &.animate-movie-information-leave-active {

  }
}
